.App {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.cardContainer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
  padding: 50px;
  width: 1500px;
}
.card{
  padding: 40px;
  margin: 10px;
}
.counter{
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
.counter button{
  background-color: rgb(162, 207, 207);
  border: none;
  padding: 5px;
  border-radius: 30px;
}

/*DETAILS*/
.card-details{
  display: flex;
  margin: 50px;

}
.details-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 200px;

}
.price{
  color: rgb(38, 136, 136);
  font-weight: bold;
  font-size: 50px;
}
.card-title-detail{
  font-size: 30px;
}